profiles {

  awsbatch_vina_test {

    aws.region = 'us-east-2'
    workDir    = 's3://srilekha-new-s3/work-vina-test'

    executor {
      queueSize = 16   // submit up to 16 jobs total
    }

    process {
      executor  = 'awsbatch'
      queue     = 'srilekha_vina_queue'
      container = 'docker.io/809314/docker_vina:latest'
      containerOptions = '-u 0:0 -w /work'

      // Keep scratch (good for Batch)
      scratch = true

      cpus   = 32
      memory = '60 GB'

      withName: runVinaRand0 {
        maxForks      = 8          
        errorStrategy = 'retry'
        maxRetries    = 1
      }
    }
  }
}

