[submodule "lib/tal"]
	path = lib/tal
	url = https://github.com/IntelLabs/Trans-Omics-Acceleration-Library.git
[submodule "applications/bwa-mem2"]
	path = applications/bwa-mem2
	url = https://github.com/bwa-mem2/bwa-mem2.git
[submodule "applications/mm2-fast"]
	path = applications/mm2-fast
	url = https://github.com/bwa-mem2/mm2-fast.git
[submodule "applications/samtools"]
	path = applications/samtools
	url = https://github.com/samtools/samtools.git
[submodule "applications/htslib"]
	path = applications/htslib
	url = https://github.com/samtools/htslib.git
[submodule "applications/deepvariant"]
	path = applications/deepvariant
	url = https://github.com/IntelLabs/deepvariant.git
[submodule "applications/bcftools"]
	path = applications/bcftools
	url = https://github.com/samtools/bcftools.git
