profiles {
  awsbatch_single_node {

    aws.region = 'us-east-2'
    workDir    = 's3://srilekha-new-s3/work-gromacs'

    executor {
      queueSize = 8
    }

    process {
      executor  = 'awsbatch'

      queue     = 'gromacs-singlenode-multiinstance-queue'

      container = 'docker.io/809314/grms_opom:latest'

      cpus      = 32
      memory    = '60 GB'

      withName: RUN_GROMACS {
        maxForks = 8          
        errorStrategy = 'retry'
        maxRetries    = 1
      }
    }
  }
}

