params.relion_image = '<ecr-repo-name>/<image-name>:<tag>'
profiles {
  awsbatch_relion_2d {
    aws.region = '<region-name>'
    workDir    = 's3://<bucket-name>/<wordir-folder-name>'


    process {
      executor  = 'awsbatch'
      queue     = '<queue-name>'         
      container = params.relion_image 
      containerOptions = '-u 0:0'                    

      cpus   = 32
      memory = '60 GB'

      withName: RELION_2D_CLASSIFICATION {
        errorStrategy = 'terminate'
        maxRetries    = 0
      }
    }
  }
}

