profiles { 

  awsbatch_single_node { 

    aws.region = 'us-east-2' 

    workDir    = 's3://rahamath-new-s3/work-pmpnn-demo' 

    executor { 

      // How many jobs Nextflow can submit to Batch at once 

      queueSize = 16 

    } 

    process { 

      executor  = 'awsbatch' 

      // Your existing Batch queue name 

      queue     = 'rahamath_pmpnn'  

      // Docker image with ProteinMPNN installed 

      container = 'docker.io/rahamath77/pmpnn:latest' 

      cpus      = 32 
      memory    = '60 GB' 

      withName: runProteinMPNN { 
        // How many ProteinMPNN jobs can run in parallel 
        maxForks = 8 
      } 
    } 
  } 
} 
