profiles {
  awsbatch_single_node {
    aws.region = '<region-name>'
    workDir    = 's3://<bucket-name>/<folder-name>'

    process {
      executor  = 'awsbatch'
      queue     = '<your-queue>'
      container = 'docker.io/<user-name>/<image-name>:<tag>'
      containerOptions = '-u 0:0'

      cpus      = 32
      memory    = '60 GB'

      withName: RUN_AUTODOCK {
        errorStrategy = 'retry'
        maxRetries    = 1
      }
    }
  }
}

