profiles {
  awsbatch_vina_test {

    aws.region = '<region>'
    workDir    = 's3://<bucket-name>/<folder-name>'

    process {
      executor  = 'awsbatch'
      queue     = '<queue-name>'
      container = 'docker.io/<user-name>/<image-name>:<tag>'
      containerOptions = '-u 0:0 -w /work'

      scratch = true

      cpus   = 32
      memory = '60 GB'

      withName: runVinaRand0 {
        errorStrategy = 'retry'
        maxRetries    = 1
      }
    }
  }
}

