profiles {
  awsbatch_single_node {
    aws.region = 'us-east-2'
    workDir    = 's3://srilekha-new-s3/work-autodock'

    executor {
      queueSize = 8
    }

    process {
      executor  = 'awsbatch'
      queue     = 'autodock-singlenode-queue'
      container = 'docker.io/809314/autodock_64wi:latest'
      containerOptions = '-u 0:0'

      cpus      = 32
      memory    = '60 GB'

      withName: RUN_AUTODOCK {
        maxForks      = 8
        errorStrategy = 'retry'
        maxRetries    = 1
      }
    }
  }
}

