params.relion_image = '041516962374.dkr.ecr.us-east-2.amazonaws.com/relion-new-scan:latest'
profiles {
  awsbatch_relion_2d {
    aws.region = 'us-east-2'
    workDir    = 's3://srilekha-new-s3/relion-workdir'

    executor {
      queueSize = 8
    }

    process {
      executor  = 'awsbatch'
      queue     = 'relion-c7i8xlarge-queue'         
      container = params.relion_image 
      containerOptions = '-u 0:0'                    

      cpus   = 32
      memory = '60 GB'

      withName: RELION_2D_CLASSIFICATION {
        // run up to 8 datasets in parallel
        maxForks      = 8
        errorStrategy = 'terminate'
        maxRetries    = 0
      }
    }
  }
}

