profiles {
  awsbatch_single_node {

    aws.region = '<region>'
    workDir    = 's3://<bucket-name>/work-gromacs'

    process {
      executor  = 'awsbatch'

      queue     = '<queue-name>'

      container = 'docker.io/<user-name>/<image-name>:<tag>'

      cpus      = 32
      memory    = '60 GB'

      withName: RUN_GROMACS {
        errorStrategy = 'retry'
        maxRetries    = 1
      }
    }
  }
}

